doc/tags

test/test-compiler/latexrun
test/test-syntax/syntax/
test/test-textobj-targets/targets.vim/
test/issues
test/test-completion-bibtex/test_parser_*
test/test-quickfix-fix-path/test_hbox*
test/example-fzf-lua/fzf-lua
test/example-snacks/snacks

.claude
CLAUDE.md

*.log
